
.rowdiv {
    width: 100%;
    height: 100%;
    overflow: hidden;
}
.description {
    color: white;
    text-align: left;
    font-size: 1.4rem;
    -webkit-text-stroke: thin black;
}
.rowtable {
    width: 80%;
    height: 100%;
    border-collapse: collapse;
}
.creditsrow {
    background-image: none;
    background-color: black;
    height: 1rem;
    color: darkgoldenrod;
    text-decoration: none;
    font-family: Arial;
    font-size: 0.8rem;
}
.creditsfield {
    color: darkgoldenrod;
    text-decoration: underline;
}
.mainrow {
    height: 6rem;
    background-color: #121212;
}
.thumbnailrow {
    background-color: #121212;
    height: 100%;
    text-align: center;
}
.thumbnail-image {
    padding: 0;
    margin: 0.8rem 0 0 0;
    width: 60%;
    height: 6rem;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.tagsrow {
    background-color: black;
    background-image: none;
    height: 1rem;
    color: black;
    font-family: Arial;
    font-size: 0.8rem;
}
.tagsfield {
    text-align: right;
}

.download-button {
    /*button:*/
    background-color: #121212;
    border-style: solid;
    border-width: 4px;
    border-color: dimgray;
    cursor: pointer;
    padding: 0.8rem 1.4rem;
    vertical-align: middle;
    margin: 2rem 2rem;
}
    .download-button:hover {
        background-color: black !important;
        border-color: darkgoldenrod !important;
        color: darkgoldenrod !important;
    }

.download-button-text {
    /*font adjustments:*/
    text-align: center;
    text-decoration: none;
    color: gray;
    font-size: 1rem;
    font-family: Roboto;
    text-transform: uppercase;
}