
.showcase-grid {
    background-color: #808080;
    width: 80%;
    margin: 0 auto;

    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    text-align: center;
    grid-auto-flow: row; /* when something has to be added, be it a row */
    grid-template-areas:
        'doyoubelieve doyoubelieve doyoubelieve nutbutton'
        'crabzoo crabdefence crabdefence crabdefence'
        'mizkifsoundboard mizkifsoundboard jumpingbacteria jumpingbacteria';
    gap: 0px;

    justify-items: stretch;
}

/* this was the only way to set the correct height while maintaining quadratic building blocks dynamically */
.quadgrid {
    padding-bottom: 25%;
}
.triplegrid {
    padding-bottom: 33.33%;
}
.doublegrid {
    padding-bottom: 50%;
}
.singlegrid {
    padding-bottom: 100%;
}


/*on desktop*/
@media (min-width: 767px) {
    .showcase-title {
        font-size: 4rem;
        word-break: break-word;
        width: 100%;

        vertical-align: middle;
        text-align: center;
        text-decoration: none;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        -webkit-text-stroke-width: 1px;
        -webkit-text-stroke-color: black;
    }
    .showcase-rectangle {
        width: 100%;
        height: 0;
        
        margin: 0 auto;
        background-position: 50% 50%;
        background-size: cover;
        table-layout: fixed;
        position: relative;
        transition: all .4s ease-in-out;
    }
}
/*on mobile*/
@media (max-width: 767px) {
    .showcase-title {
        font-size: 2rem;
        word-break: break-word;
        width: 100%;
        vertical-align: middle;
        text-align: center;
        text-decoration: none;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        -webkit-text-stroke-width: 1px;
        -webkit-text-stroke-color: black;
    }
    .showcase-rectangle {
        width: 100%;
        height: 14rem;
        margin: 0 auto;
        background-position: 50% 50%;
        background-size: cover;
        table-layout: fixed;
        position: relative;
        transition: all .4s ease-in-out;
    }
}
.showcase-rectangle:hover {
    transition: all .4s ease-in-out;
    -ms-transform: scale(1.02); /* IE 9 */
    -webkit-transform: scale(1.02); /* Safari 3-8 */
    transform: scale(1.02);
    border-radius: 10px;
    z-index: 10;
}
