#html-id {
    background: linear-gradient(0deg, rgba(80,110,80,1) 0%, rgba(80,80,110,1) 100%);
    background-attachment: fixed;
    background-size: cover;
}
.spotify-banner {
    text-align: left;
    position: relative;
    padding: 0;
    height: 320px;
    background-size: cover;
    background-position: center;
    background-image: url(../images/a1creator/banner.png);
}
.spotify-title {
    position: absolute;
    bottom: 2rem;
    left: 3rem;

    color: snow;
    font-size: 5rem;
    margin: 0;
}
.spotify-gradient-background {
    background-image: linear-gradient(rgba(222, 16, 68, 0.6), rgb(0,0,0));
}
.spotify-gradient-overlay {
    background-image: linear-gradient(rgba(0.4, 0.4, 0.4, 0.6), rgb(0.2,0.2,0.2, 0.4));
}
.maintain-same-width {
    height: 100%;
    width: 80%;
    margin: auto;
}
.music-links {
    text-decoration: none !important;
    margin: 1rem 0.5rem;
    padding: 0;
    font-size: 1.2rem;
    color: #282828;
}
.spotify-link:hover {
    color: forestgreen;
}

.instagram-link:hover {
    color: rgb(158, 20, 140);
}


.a1creator-songbox-tablerow {
    margin: 12px;
    padding: 12px;
    text-align: left;
    background-size: contain;
}



.absolute-right-and-center:hover {
    transform: translate(-100%, -50%);
    -moz-transform: translate(-100%, -50%);
    -ms-transform: translate(-100%, -50%);
    -webkit-transform: translate(-100%, -50%);
    -o-transform: translate(-100%, -50%);
}
.a1creator-a1games-tab:hover {
    left: 100%;
    opacity: 100%;
}




.a1creator-a1gamesicon {
    height: 44px;
    width: 44px;
    padding: 0 0;
    border-radius: 12px;
}





/*on mobile*/
@media (max-width: 767px) {
    .a1creator-a1gamesicon {
        height: 44px;
        width: 44px;
        padding: 1px 2px;
        border-radius: 8px;
    }
    .spotify-banner {
        height: 160px;
    }
    .spotify-title {
        font-size: 2rem;
    }
}
/*on desktop*/
@media (min-width: 767px) {
}