










.sv-slider {
    animation: bannermove 65s linear infinite;
}

@keyframes bannermove {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(-50%);
    }
}






/* Smartphones (landscape) ----------- */
@media screen and (max-width: 821px) {
    /* Styles */

    .sv-floatparent {
        gap: 1em;
        padding-top: 4em;
    }

    
    .spacevoyage-logobox {
        font-size: 0.75em;  
    }
}











