#a1games-msg {
    left: 50%;
    width: 50%;

    border-radius: inherit;
    padding: 2rem 0 3rem 0;

    background-color: #0f0f0fee;
    color: inherit;
    border: white 1px solid;
}

#a1gamesfun-container {
    color: white;
    border: white 1px solid;
}