






/* Smartphones (landscape) ----------- */
@media screen and (min-width: 821px) {
    /* Styles */


}

.spaceshooter-background {
    background-image: url("img/background.png");
    background-position: center;
    background-size: cover;
}



.spaceship {
    position: absolute;

    top: 50%;
    right: 4em;
    width: 7em;

    transform: translate(0, -50%);

}
.laser-bullet {
    margin: 0 10em;
    width: 3em;
}
.laser-clip {
    margin: 0;
    position: absolute;

    top: 50%;
    left: 0;

    right: 8em;


    transform: translateY(-50%);
    overflow: hidden;

}
.laser-container {
    display: flex;
    flex-direction: row;

    margin: 0;
    width: fit-content;

    animation: lasermove 10s linear infinite;
}

@keyframes lasermove {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(-50%);
    }
}


/* Smartphones (landscape) ----------- */
@media screen and (max-width: 821px) {
    /* Styles */
    
    .ss-dl-button {
        display: none;
    }

    .spaceship {
        right: 1em;
        width: 4em;
    }
    .laser-bullet {
        width: 2em;
    }
    .laser-clip {
        right: 3em;
    }
}

