.u-section-1 {
  background-image: url("images/bckgrnd03.png");
  background-position: 50% 50%;
}

.u-section-1 .u-sheet-1 {
  min-height: 434px;
}

.u-section-1 .u-text-1 {
  font-family: BubblegumSans-Regular;
  text-transform: uppercase;
  font-size: 6rem;
  margin: 70px auto 0 238px;
}

.u-section-1 .u-image-1 {
  width: 84px;
  height: 80px;
  margin: 152px -58px 0 auto;
}

.u-section-1 .u-image-2 {
  width: 167px;
  height: 69px;
  margin: -253px -58px 0 auto;
}

.u-section-1 .u-image-3 {
  width: 80px;
  height: 80px;
  margin: -197px auto 0 -15px;
}

.u-section-1 .u-list-1 {
  width: 628px;
  margin: 102px auto 0 256px;
}

.u-section-1 .u-repeater-1 {
  min-height: 190px;
  grid-template-columns: 33.3333% 33.3333% 33.3333%;
  grid-gap: 0px 0px;
}

.u-section-1 .u-container-layout-1 {
  padding: 0 10px;
}

.u-section-1 .u-image-4 {
  height: auto;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-1 .u-container-layout-2 {
  padding: 0 10px;
}

.u-section-1 .u-image-5 {
  height: auto;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-1 .u-container-layout-3 {
  padding: 0 10px;
}

.u-section-1 .u-image-6 {
  height: auto;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-1 .u-gallery-nav-1 {
  position: absolute;
  left: 0;
  width: 40px;
  height: 40px;
  top: 71px;
}

.u-section-1 .u-gallery-nav-2 {
  position: absolute;
  width: 40px;
  height: 40px;
  left: auto;
  top: 71px;
  right: 0;
}

.u-section-1 .u-image-7 {
  width: 167px;
  height: 69px;
  margin: -84px auto 0 -133px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 577px;
  }

  .u-section-1 .u-text-1 {
    margin-left: auto;
  }

  .u-section-1 .u-image-1 {
    margin-top: 320px;
    margin-right: 0;
  }

  .u-section-1 .u-image-2 {
    margin-top: -399px;
    margin-right: 0;
  }

  .u-section-1 .u-image-3 {
    margin-top: -87px;
    margin-left: 0;
  }

  .u-section-1 .u-list-1 {
    min-height: 182px;
    margin-top: 6px;
    margin-left: auto;
  }

  .u-section-1 .u-image-4 {
    margin-right: 1px;
    margin-left: 0;
    height: auto;
  }

  .u-section-1 .u-image-5 {
    margin-right: 1px;
    margin-left: 0;
    height: auto;
  }

  .u-section-1 .u-image-6 {
    margin-right: 1px;
    margin-left: 0;
    height: auto;
  }

  .u-section-1 .u-image-7 {
    margin-top: -8px;
    margin-bottom: 60px;
    margin-left: 0;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 848px;
  }

  .u-section-1 .u-text-1 {
    width: auto;
    margin-top: 53px;
    margin-left: 28px;
    margin-right: 28px;
  }

  .u-section-1 .u-image-1 {
    margin-top: 331px;
  }

  .u-section-1 .u-image-2 {
    margin-top: -357px;
  }

  .u-section-1 .u-image-3 {
    margin-top: -129px;
  }

  .u-section-1 .u-list-1 {
    margin-top: 45px;
  }

  .u-section-1 .u-repeater-1 {
    grid-template-columns: 50% 50%;
  }

  .u-section-1 .u-image-4 {
    height: NaNpx;
  }

  .u-section-1 .u-image-5 {
    height: NaNpx;
  }

  .u-section-1 .u-image-6 {
    height: NaNpx;
  }

  .u-section-1 .u-image-7 {
    margin-top: 33px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1075px;
  }

  .u-section-1 .u-text-1 {
    margin-top: 0;
  }

  .u-section-1 .u-image-1 {
    margin-top: 660px;
  }

  .u-section-1 .u-image-2 {
    margin-top: -726px;
  }

  .u-section-1 .u-image-3 {
    margin-top: 70px;
  }

  .u-section-1 .u-list-1 {
    width: 540px;
    margin-top: -113px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-repeater-1 {
    min-height: 520px;
    grid-template-columns: 100%;
  }

  .u-section-1 .u-image-7 {
    margin-top: 95px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 839px;
  }

  .u-section-1 .u-text-1 {
    font-size: 3rem;
    margin-top: 60px;
    margin-left: 14px;
    margin-right: 14px;
  }

  .u-section-1 .u-image-1 {
    margin-top: 583px;
    margin-right: auto;
    margin-left: 0;
  }

  .u-section-1 .u-image-2 {
    margin-top: -193px;
    margin-right: auto;
    margin-left: 0;
  }

  .u-section-1 .u-image-3 {
    margin-top: -517px;
    margin-right: 0;
  }

  .u-section-1 .u-list-1 {
    width: 340px;
  }

  .u-section-1 .u-image-7 {
    margin-right: -40px;
    margin-bottom: 0;
    margin-left: auto;
  }
}.u-section-2 {
  background-image: none;
}

.u-section-2 .u-sheet-1 {
  min-height: 500px;
}

.u-section-2 .u-layout-wrap-1 {
  margin: 47px auto 47px 0;
}

.u-section-2 .u-image-1 {
  min-height: 433px;
  background-image: url("images/a1bannergoogplay.png");
  background-position: 50% 50%;
}

.u-section-2 .u-container-layout-1 {
  padding-left: 0;
  padding-right: 0;
}

.u-section-2 .u-layout-cell-2 {
  min-height: 433px;
}

.u-section-2 .u-container-layout-2 {
  padding: 0 20px 20px;
}

.u-section-2 .u-text-1 {
  font-weight: 500;
  font-size: 1.25rem;
  margin: 100px 20px 0;
}

.u-section-2 .u-text-2 {
  text-transform: none;
  font-weight: bold;
  margin: 20px 20px 0;
}

.u-section-2 .u-text-3 {
  margin: 30px 20px 0;
}

.u-section-2 .u-btn-1 {
  border-style: solid;
  letter-spacing: 0px;
  font-weight: 700;
  text-transform: uppercase;
  background-image: none;
  margin: 38px auto 0;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 465px;
  }

  .u-section-2 .u-layout-wrap-1 {
    width: 940px;
    margin: 54px 0;
  }

  .u-section-2 .u-image-1 {
    min-height: 357px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-2 .u-text-1 {
    position: relative;
    margin-left: 16px;
    margin-right: 16px;
  }

  .u-section-2 .u-text-2 {
    position: relative;
    margin-left: 16px;
    margin-right: 16px;
  }

  .u-section-2 .u-text-3 {
    position: relative;
    margin-left: 16px;
    margin-right: 16px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 316px;
  }

  .u-section-2 .u-layout-wrap-1 {
    position: relative;
    width: 720px;
  }

  .u-section-2 .u-image-1 {
    min-height: 273px;
  }

  .u-section-2 .u-text-1 {
    margin-left: 13px;
    margin-right: 13px;
  }

  .u-section-2 .u-text-2 {
    margin-left: 13px;
    margin-right: 13px;
  }

  .u-section-2 .u-text-3 {
    margin-left: 13px;
    margin-right: 13px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 100px;
  }

  .u-section-2 .u-layout-wrap-1 {
    width: 540px;
  }

  .u-section-2 .u-image-1 {
    min-height: 410px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-text-1 {
    margin-left: 9px;
    margin-right: 9px;
  }

  .u-section-2 .u-text-2 {
    margin-left: 9px;
    margin-right: 9px;
  }

  .u-section-2 .u-text-3 {
    margin-left: 9px;
    margin-right: 9px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 527px;
  }

  .u-section-2 .u-layout-wrap-1 {
    width: 340px;
  }

  .u-section-2 .u-image-1 {
    min-height: 258px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 238px;
  }

  .u-section-2 .u-text-1 {
    width: auto;
    margin-top: 0;
    margin-left: 6px;
    margin-right: 6px;
  }

  .u-section-2 .u-text-2 {
    margin-left: 6px;
    margin-right: 6px;
  }

  .u-section-2 .u-text-3 {
    margin-left: 6px;
    margin-right: 6px;
  }
}@font-face {
  font-family: 'BubblegumSans-Regular';
  font-style: normal;
  font-weight: 400;
  src: url(fonts/BubblegumSans-Regular.otf);
}