.u-section-1 {
  background-image: none;
}

.u-section-1 .u-sheet-1 {
  min-height: 610px;
}

.u-section-1 .u-text-1 {
  font-size: 6rem;
  font-weight: 700;
  margin: 19px 531px 0 0;
}

.u-section-1 .u-text-2 {
  line-height: 2;
  font-size: 1.125rem;
  margin: 20px auto 60px 0;
}

.u-section-1 .u-btn-1 {
  background-image: none;
  padding: 0;
}

.u-section-1 .u-btn-2 {
  background-image: none;
  padding: 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-text-1 {
    margin-right: 331px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-text-1 {
    margin-right: 111px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 3658px;
  }

  .u-section-1 .u-text-1 {
    font-size: 3.75rem;
    width: auto;
    margin-top: 20px;
    margin-right: 0;
  }

  .u-section-1 .u-text-2 {
    margin-bottom: -12px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1236px;
  }

  .u-section-1 .u-text-1 {
    font-size: 3rem;
    margin-top: 54px;
  }

  .u-section-1 .u-text-2 {
    margin-bottom: 54px;
  }
}