body {
    font-family: Arial;
    margin: 0px;
}

#header {
    background-image: none;
    background-color: black;
    padding: 0px;
}

.white {
    color: #111111;
    background-color: #ffffff;
}

.fullwidth {
    width: 100%;
    margin: 0px;
}

.no-padding {
    padding: 0px;
}

.banner {
}

.bannertable {
    height: 100%;
}

.bannericon {
    height: 128px;
    width: 128px;
    padding: 10px;
    border-radius: 20%;
}

.tablerow {
}

.th-text {
    text-align: center;
}

.bannertext{
    font-size: inherit;
    font-family: inherit;
    line-height: inherit;
    letter-spacing: inherit;
    text-transform: inherit;
    background-color: transparent;
    align-self: flex-start;
    color: #000000 !important;
}


}@font-face {
  font-family: 'BubblegumSans-Regular';
  font-style: normal;
  font-weight: 400;
  src: url(fonts/BubblegumSans-Regular.otf);
}