



#main-container {
    overflow: auto;
    display: block;
    position: relative;
}

.multi-parent {
    position: relative;
    display: flex;

    flex-direction: row;

    width: auto;
    height: auto;
    margin: 0;
    padding: 0;
}

.multi-row {
    /*position: relative;*/
    display: flex;
    flex-direction: row;
    align-items: center;
}


.scroll-parent {
    position: absolute;
    top: 50%;
    margin: 0;
    transform: translateY(-50%);
    align-items: center;
}



.showcase-row-full {
    height: 32em;
    overflow-y: hidden;
    overflow-x: hidden;
}

.showcase-row-threequarters {
    height: 24em;
    overflow-y: hidden;
    overflow-x: hidden;
}

.showcase-row-half {
    height: 16em;
    overflow-y: hidden;
    overflow-x: hidden;
}
.showcase-row-smallest {
    height: 10em;
    overflow-y: hidden;
    overflow-x: hidden;
}



.showcase-img {
    object-fit: contain;
    user-select: none;
}













