







#main-container {
    overflow: auto;
    display: block;
    position: relative;
}


.multi-parent {
    position: relative;
    display: flex;

    flex-direction: row;

    width: auto;
    height: auto;
    margin: 0;
    padding: 0;
}


.showcase-row-full {
    height: 32em;
    overflow-y: hidden;
    overflow-x: hidden;
}

.showcase-row-threequarters {
    height: 24em;
    overflow-y: hidden;
    overflow-x: hidden;
}

.showcase-row-half {
    height: 16em;
    overflow-y: hidden;
    overflow-x: hidden;
}
.showcase-row-smallest {
    height: 10em;
    overflow-y: hidden;
    overflow-x: hidden;
}



.showcase-img {
    object-fit: contain;
    user-select: none;
}













