


/* Smartphones (landscape) ----------- */
@media screen and (max-width: 821px) {
    .info-container {
        margin-left: auto !important;
    }
    .banner-img-container {
        margin-right: auto !important;
    }
    .dynamic-row-col {
        flex-direction: column !important;
    }

}


.dynamic-row-col {
    flex-direction: row ;
}



.banner-img-container {
    margin: auto;
    margin-right: 4em;
    border-radius: 0.75em;
    overflow: hidden;
}


#main-container {
    overflow: auto;
    display: block;
    position: relative;
}

.info-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: auto;
    margin-left: 0;
    background-color: transparent;
    white-space: nowrap;
}

.multi-parent {
    position: relative;
    display: flex;

    flex-direction: row;

    width: auto;
    height: auto;
    margin: 0;
    padding: 0;
}

.multi-row {
    /*position: relative;*/
    display: flex;
    flex-direction: row;
    align-items: center;
}


.scroll-parent {
    position: absolute;
    top: 50%;
    margin: 0;
    transform: translateY(-50%);
    align-items: center;
}



.showcase-row-nolimit,
.showcase-row-full,
.showcase-row-threequarters,
.showcase-row-half,
.showcase-row-smallest
{
    overflow-y: hidden;
    overflow-x: hidden;
}

.showcase-row-nolimit {
    height: auto;
    margin: 3em 0;
}
.showcase-row-full {
    height: 32em;
}
.showcase-row-threequarters {
    height: 24em;
}
.showcase-row-half {
    height: 16em;
}
.showcase-row-smallest {
    height: 10em;
}



.showcase-img {
    object-fit: contain;
    user-select: none;
}










