




.float-logo-square {
    width: 5em;
    height: 5em;

    object-fit: contain;
    user-select: none;
}

.float-logo-rectangle {
    width: 18em;
    height: 5.5em;

    object-fit: contain;
    user-select: none;
}

.shape-shadow-black {
    /*xoffset yoffset spread length*/
    filter: drop-shadow(-0.1em -0.1em 1em var(--c_Dark));
}
.shape-shadow-white {
    /*xoffset yoffset spread length*/
    filter: drop-shadow(-0.1em -0.1em 1em var(--c_Light));
}



.float-parent-middle {
    position: absolute;
    display: flex;
    flex-direction: row;

    top: 50%;
    left: 50%;

    z-index: 1;

    transform: translate(-50%, -50%);

    cursor: pointer;
}
.float-parent-right {
    position: absolute;
    display: flex;
    flex-direction: row;

    top: 50%;
    right: 10%;

    z-index: 1;

    transform: translate(0, -50%);

    cursor: pointer;
}
.float-parent-left {
    position: absolute;
    display: flex;
    flex-direction: row;

    top: 50%;
    left: 10%;

    z-index: 1;

    transform: translate(0, -50%);

    cursor: pointer;
}


.comment-box {
    margin: auto;
    font-family: RobotoLight, sans-serif;
    background: radial-gradient(circle, #000000EE 40%, #00000099 101%);
    padding: 1em 1.2em;
    /*
    background-color: #000000AA;
    /*xoffset yoffset spread length*/
    /*
    filter: drop-shadow(0em 0em 3em rgb(0, 0, 0)) ;
    -webkit-box-shadow: 0 0 0.75em 0.25em #000000CC;
    box-shadow: 0 0 0.75em 0.25em #000000CC;
    */
    border-radius: 0.5em;
    color: white;

    min-width: 12em;
}



/* Smartphones (portrait) ----------- */
@media screen and (max-width: 821px) {
    /* Styles */

    
    .float-parent-middle, .float-parent-left, .float-parent-right {
        
        flex-direction: column !important;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%) !important;
    }
}





