/* import completely destroys loading time
@import url(//fonts.google.com/specimen/Bubblegum+Sans);
@import url(//fonts.google.com/specimen/Roboto);
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');*/

@font-face {
    font-family: BubblegumSans;
    font-style: normal;
    font-weight: normal;
    src: url(../../FILES/FONTS/BubblegumSans-Regular.otf);
    src: url(../../FILES/FONTS/BubblegumSans-Regular.ttf);
}
@font-face {
    font-family: Lexend;
    font-style: normal;
    font-weight: normal;
    src: url(../../FILES/FONTS/Lexend-All.ttf);
}
@font-face {
    font-family: Ethnocentric;
    font-style: normal;
    font-weight: normal;
    src: url(../../FILES/FONTS/ethnocentric.otf);
}
@font-face {
    font-family: Roboto;
    font-style: normal;
    font-weight: 100 900;
    src: url(../../FILES/FONTS/Roboto-All.ttf);
}
@font-face {
    font-family: Roboto;
    font-style: italic;
    font-weight: 100 900;
    src: url(../../FILES/FONTS/Roboto-All-Italic.ttf);
}


/* Can't find a combined ttf for this font */
@font-face {
    font-family: MotivaSans;
    font-style: normal;
    font-weight: 300;
    src: url(../../FILES/FONTS/Static/MotivaSans/MotivaSans-Light.ttf);
}
@font-face {
    font-family: MotivaSans;
    font-style: normal;
    font-weight: normal;
    src: url(../../FILES/FONTS/Static/MotivaSans/MotivaSans-Regular.ttf);
}
@font-face {
    font-family: MotivaSans;
    font-style: normal;
    font-weight: 700;
    src: url(../../FILES/FONTS/Static/MotivaSans/MotivaSans-Medium.ttf);
}

