






/* keep this the same height as header-tab !! */
.header-buffer {
    height: 6em;
    background-image: url("../../FILES/IMG/old/spacevoyage/bckg.png");
    background-size: cover;
}

.header-tab {
    position: fixed;
    display: flex;
    flex-direction: row;

    align-items: center;
    justify-content: center;

    top: 0;

    z-index: 2;
    background-color: transparent;

    height: 6em;
    width: 100%;
    padding: 0;
    margin: 0;
}


.a1icon {
    position: relative;
    width: 4.125em;
    min-width: 4.125em;
    height: 4.125em;
    min-height: 4.125em;
    border-radius: 2em;
    margin: auto 1em;
    filter: drop-shadow(0 0 0.4em var(--c_Text_Dark));
    overflow: hidden;
}


.headername {
    width: auto;
    height: auto;
    margin: auto 1em;

    text-align: center;

    font-family: 'Lexend', sans-serif;
    font-weight: 400;
    letter-spacing: 0.05em;
    color: var(--c_Text_Light);
    text-shadow: 0 0 0.4em #000000FF;

}

.headername:hover {
    text-shadow: 0 0 0.4em var(--c_Link_Hover);
    -webkit-text-stroke: 1px var(--c_Link_Hover);
    paint-order: stroke fill;
    cursor: pointer;
}
.a1icon:hover {
    filter: drop-shadow(0 0 0.4em var(--c_Link_Hover));
    cursor: pointer;
}





