




.clickable-logo-small, .icon-small, .icon-s,
.clickable-logo-medium, .icon-medium, .icon-m,
.clickable-logo-big, .icon-big, .icon-b
{
    margin: 0 1em;
    cursor: pointer;
    overflow: visible;

    filter: drop-shadow(-1px 1px 1px var(--c_Dark));
}


.icon-shadow {
    filter: drop-shadow(-1px 1px 1px var(--c_Dark));
}


.clickable-logo-small, .icon-small, .icon-s {
    height: 3em;
    width: 3em;
}

.clickable-logo-medium, .icon-medium, .icon-m {
    height: 5em;
    width: 5em;
}

.clickable-logo-big, .icon-big, .icon-b {
    height: 7em;
    width: 7em;
}






