

.pi-container {
    position: absolute;
    display: block;
    top: 4em;
    left: 0;

    height: 10em;
    width: 100%;

    z-index: -1;

    background-color: #ffffffcc;
    border-radius: 0.25em;

    transition: 0.5s ease-in-out;
    overflow: hidden;

    box-shadow: 0 0.2em 1em 0.05em  var(--imgHover);
    outline: 2px solid white;
}


/* Smartphones (landscape) ----------- */
@media screen and (max-width: 821px) {
    /* Styles */

    .pi-container {
        position:fixed;
        font-size: 1.8em;
        width: 90vw ;

        left: 50%;
        transform: translateX(-50%);
    }
    .pi-folded {
        top: 1em !important;
    }
    
}


.pi-folded {
    height: 0;
    width: 0;
    top: 50%;
    left: 50%;
    box-shadow: none;
    outline: none;
}


.clickable-link {
    color: var(--textHover) !important;
    cursor: pointer !important;
}

.pi-text {
    cursor: default;
    position: relative;
    display: block;

    margin: 0.4em 0.8em;
    font-size: 0.8em;

    color: black;
    font-family: 'Roboto', sans-serif;

    font-weight: 600;

    text-align: left;
}

.pi-text-small {
    font-size: 0.7em;
    min-height: 1em;
}








