
:root {
    --textColor: #FFFFFF;
    --textHover: rgb(0, 126, 148);
    --imgHover: rgba(0, 126, 148, 0.527);
}


/* Smartphones (landscape) ----------- */
@media screen and (max-width: 821px) {
    /* Styles */
    
    
    :root {
        font-size: 13px;
    }
}

