

/* Hide scrollbar for Chrome, Safari and Opera */

/* width */
::-webkit-scrollbar {
    scrollbar-width: thin;
    background-color: var(--c_Dark);
    -webkit-overflow-scrolling: touch;
    /*display:none;*/
}
/* Track 
::-webkit-scrollbar-track {

}*/
/* Handle */
::-webkit-scrollbar-thumb:horizontal {
    background: var(--c_Light);
    border-radius: 2px;
}
::-webkit-scrollbar-thumb:vertical {
    background: var(--c_Light);
    border-radius: 2px;
}
/* Handle on hover */
::-webkit-scrollbar-thumb:horizontal:hover {
    background: var(--c_Light_Hover);
}
::-webkit-scrollbar-thumb:vertical:hover {
    background: var(--c_Light_Hover);
}
/* Hide scrollbar for IE, Edge and Firefox */
.scrollbar {
    -ms-overflow-style: none; /* IE and Edge */
}
