

body {
    font-family: Arial;
    margin: 0px;
    background: #0d1117;
}



#link-button {
    /*button:*/
    background: transparent;
    border-style: solid;
    border-width: 4px;
    border-color: transparent;
    cursor: pointer;
    /*dsfdf*/
    padding: 0.8em 1.4em;
    vertical-align: middle;
    overflow: visible;
    white-space: nowrap;
}
.link-button-text {
    /*button:*/
    background: transparent;
    border-style: solid;
    border-width: 4px;
    border-radius: 0;
    border-color: #0d1117 !important;
    padding: 0.8em 1.4em;
    /*font adjustments:*/
    line-break: strict;
    white-space: nowrap;
    text-align: center;
    text-decoration: none;
    color: inherit !important;
    font-size: 1em;
    font-family: Roboto;
    text-transform: uppercase;
    vertical-align: middle;
}

.link-button-text-spacevoyageGreen:hover {
    background-color: #89FFA4cc !important;
}
.link-button-text-spacevoyageBlue:hover {
    background-color: #89F1FFcc !important;
}


.sv-banner {
    margin: auto;
    margin-right: 4em;
    border-radius: 0.75em;
    overflow: hidden;
}

.sv-info-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: auto;
    margin-left: 0;
    padding: 1em;
    background-color: transparent;
    color: var(--c_Text_Dark);
}

.sv-presents {
    font-size: 1.25rem;
    font-family: RobotoLight, sans-serif;
    letter-spacing: 0.05rem;
}

.sv-ethno {
    font-size: 2.25rem;
    margin-bottom: 1.6rem;
    font-weight: bold;
    font-family: Ethnocentric;
}
.sv-small-title {
    font-size: 1rem;
    font-family: RobotoLight,sans-serif;
}

.sv-display-row {
    flex-direction: row;
    background-color: var(--c_Light);
}

.sv-banner-portrait {
    height: 18em;
    width: 14em;
}
.sv-banner-landscape {
    height: 10em;
    width: 21em;
    display: none;
}




/* Smartphones (landscape) ----------- */
@media screen and (max-width: 821px) {
    /* Styles */
    .sv-display-row {
        flex-direction: column;
    }

    .sv-banner {
        margin: auto;
        margin-top: 2em;
    }

    #steam-redirect {
        display: none;
    }

    .sv-banner-portrait {
        display: none;
    }
    .sv-banner-landscape {
        display: block;
    }


}







