



.necesse-showcase {
  border-radius: 2em;
  margin: 0 2em;
}



.intshipline {
  display: flex;
  flex-direction: column;
  position: auto;
  margin: 0 auto 0.8em auto;

  font-size: 1.2em;
  font-family: RobotoLight, sans-serif;
  color: rgba(146, 78, 223, 0.822);
  font-weight: 700;
  letter-spacing: 0.05em;
}


.necesse-slider {
    animation: bannermove 80s linear infinite;
}

@keyframes bannermove {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(-50%);
    }
}



/* Smartphones (landscape) ----------- */
@media screen and (max-width: 821px) {
  /* Styles */

  .necesse-showcase {
    margin: 0 0.5em;
  }


  
}














