







.intshipline {
  display: flex;
  flex-direction: column;
  position: auto;
  margin: auto;

  font-size: 1.4em;
  font-family: Roboto, snas-serif;
  margin: auto;
  color: rgba(166, 88, 255, 0.534);
  font-weight: 500;

}


.necesse-slider {
    animation: bannermove 80s linear infinite;
}

@keyframes bannermove {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(-50%);
    }
}
















