



.short-inf-container {
    background-color: #2247e9f9;
    box-shadow: 0 0.5em 0.5em -0.25em var(--shadowColor);
}

.short-inf-background-image {
    background-image: url("bckgrnd_pattern.png");
    background-position: center;
    background-repeat: repeat;
}


.information-container {
    background-color: #FFFFFF11;
}




