




.short-inf-container {
    background-color: #02889cCC;
}

.short-inf-background-image {
    background-image: url("gamebricks.jpeg");
}


.information-container {
    background-color: #FFFFFF11;
}




