
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

html {
    font-size: 18px;
    color: white;
    font-weight: 600;
    font-family: Roboto, Georgia, 'Times New Roman', Times, serif;
}

#fill-page {
    margin: auto;
    width: 60%;
}

#background {
    background-color: rgb(21, 21, 26);
}


#payment-order {
    /*display is set to block in js*/
    display: none;
    position: relative;
    
    margin: 0;
    padding: 1.6rem 2rem;
    
    border-radius: 1rem;
    background-color: rgb(32, 38, 48);
}

#people-adder {
    display: flex;
    position: relative;
    
    padding: 1.6rem 2rem;
    width: 50%;
    
    border-radius: 1rem;
    background-color: rgb(32, 38, 48);
}

.input-title {
    display: flex;
    position: inherit;
    
    font-size: 1.2rem;
    
    margin: 0;
    padding: 0;
}
.round-title {
    background-color: rgba(0, 0, 0, 0.3);
    border-radius: 0.2em;
    padding: 0.2em 0.4em;
    width: fit-content;
}
.middle-title {
    padding: 0.4em;
    margin: 0.5em auto;
}

.white-input {
    display: flex;
    position: inherit;
    
    font-size: 1.2rem;
    font-weight: 500;

    margin: 0;
    padding: 0 0 0 0.2em;

    border-radius: 0;
    outline: 0;
    border: 0;
}

.white-button {
    display: flex;

    outline: 0;
    border: 0;
    margin: 0;
    padding: 0.5em 1em;

    background-color: rgb(21, 21, 26);
    color: white;
    font-weight: 300;
    font-size: 1.25em;
    border-radius: 0;
}
.white-button:hover {
    background-color: rgb(79, 73, 104);
}
.white-button:active {
    background-color: rgb(75, 122, 192);
}

.segment {
    position: relative;
    margin: 1em auto;
    padding: 1em;
    
    border-radius: 1rem;
    background-color: rgb(33, 42, 65);
}

.holder {
    /*display is set to grid in js*/
    display: none;
    grid-template-columns: repeat(auto-fill, 10em);
    grid-auto-rows: auto;
    grid-auto-flow: dense;
    
    margin: auto;
    
    gap: 1em;
    justify-content: center;
}

#payment-adder {
    /*display is set to flex in js*/
    display: none; 
    position: relative;
    
    padding: 1.6rem 2rem;
    width: 50%;
    
    border-radius: 1rem;
    background-color: rgb(32, 38, 48);

}

.autoheightmargin {
    margin: auto 0;
}

.oneliner {
    display: flex;
    gap: 0.4em;
    margin: 1em 0;
}

#payment-dropdown {
    background-color: white;
    font-size: 1.2rem;
    font-family: Roboto, Georgia, 'Times New Roman', Times, serif;
    border: 0;
    
    padding: 0 0 0 0.2em;
    height: auto;
}

#payment-input {
    display: inline;
}

.paymentListName {
    padding: 0.2em 0.4em;
    border-radius: 0.2em;
    margin: 0 0.4em;
    height: auto;
}


.person-info {
    position: inherit;
    
    font-size: 1em;
    font-weight: bold;
    font-family: Roboto, Georgia, 'Times New Roman', Times, serif;
    
    margin: 0;
    padding: 1em;
    
    border-radius: 0.5em;
    background-color: rgb(141, 141, 141);

    overflow: hidden;
    text-align: center;
}

.info-p {
    display: flex;
    position: inherit;
    
    font-size: 1em;
    font-weight: bold;
    font-family: Roboto, Georgia, 'Times New Roman', Times, serif;

    justify-content: center;
    align-items: center;
    
    margin: 0.4em 0;
    padding: 0.2em 0.4em;
    border-radius: 0.2em;
}
.no-margin {
    margin: 0;
}

.person-name {
    margin: auto !important;
}

.person-paid {
    overflow: hidden;
    overflow-wrap: break-word;
    word-wrap: break-word;
    font-size: 1em;

    margin: 0.2em 0;

    background-color: rgb(255, 255, 255, 0.3);
}


.c-blue {
    background-color:rgb(34, 41, 109, 0.8)
}

.c-red {
    background-color:rgb(139, 28, 33, 0.8)
}

.c-gray {
    background-color:rgba(0, 0, 0, 0.3)
}

#adding-container {
    display: flex;
    gap: 1em;
    margin: 2rem 0 1rem 0;
}

/*on smaller*/
@media (max-width: 1600px) {
    
    #fill-page {
        width: 80%;
    }
}

/*on smaller*/
@media (max-width: 1480px) {
    
    html {
        font-size: 20px;
    }
    
    #adding-container {
        display: flex;
        flex-flow: column;
        flex-wrap: wrap;
        gap: 1em;
    }
    
    #people-adder {
        width: auto;
    }
    
    #payment-adder {
        width: auto;
    }
    
}

/*on mobile*/
@media (max-width: 700px) {
    

    #fill-page {
        width: 100%;
    }
    
    #people-adder {
        justify-content: center;
    }
    
    #payment-adder {
        justify-content: center;
    }

    #person-input {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
    }

    #payment-holder {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
    }

    #payment-order {
        padding: 1em 0;
        font-size: 0.9em;
    }
    
    .oneliner {
        flex-direction: column;
        flex-wrap: wrap;
        align-items: center;
    }

    html {
        font-size: 4vw;
    }

}



/*on mobile*/
@media (max-width: 600px) {

    #stb-container {
        font-size: 2.4vw;
    }
}









