










.sv-slider {
    animation: bannermove 60s linear infinite;
}

@keyframes bannermove {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(-50%);
    }
}
















