


.sv-slider {
    animation: bannermove 65s linear infinite;
}


#link-button {
    /*button:*/
    background: transparent;
    border-style: solid;
    border-width: 4px;
    border-color: transparent;
    cursor: pointer;
    /*dsfdf*/
    padding: 0.8em 1.4em;
    vertical-align: middle;
    overflow: visible;
    white-space: nowrap;
}
.link-button-text {
    /*button:*/
    background: transparent;
    border-style: solid;
    border-width: 4px;
    border-radius: 0;
    border-color: #0d1117 !important;
    padding: 0.8em 1.4em;
    /*font adjustments:*/
    line-break: strict;
    white-space: nowrap;
    text-align: center;
    text-decoration: none;
    color: inherit !important;
    font-size: 1em;
    font-family: Roboto;
    text-transform: uppercase;
    vertical-align: middle;
}

.link-button-text-spacevoyageGreen:hover {
    background-color: #89FFA4cc !important;
}
.link-button-text-spacevoyageBlue:hover {
    background-color: #89F1FFcc !important;
}



.sv-banner-portrait {
    height: 18em;
    width: 14em;
}
.sv-banner-landscape {
    height: 8em;
    width: 19em;
    display: none;
}


.sv-presents {
    font-size: 1.25rem;
    font-family: RobotoLight, sans-serif;
    letter-spacing: 0.05rem;
}

.sv-ethno {
    font-size: 2.25rem;
    font-weight: bold;
    font-family: Ethnocentric;
}
.sv-small-title {
    font-size: 1rem;
    font-family: RobotoLight,sans-serif;
}




/* Smartphones (landscape) ----------- */
@media screen and (max-width: 821px) {
    /* Styles */

    #steam-redirect {
        display: none;
    }

    .sv-banner-portrait {
        display: none;
    }
    .sv-banner-landscape {
        display: block;
    }

    .spacevoyage-logobox {
        font-size: 0.75em;  
    }

}



/* Smartphones (landscape) ----------- */
@media screen and (max-width: 1121px) {

    .sv-comment {
        display: none;
    }

}









@keyframes bannermove {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(-50%);
    }
}













