



.conmou-row {
    display: flex;
    flex-direction: row;
    overflow: hidden;
    padding-top: 2em;
    padding-bottom: 2em;

    background-color: var(--c_Light_Shadow_Low);
    

    border: 2px var(--c_Text_Light) solid;
    border-left: none;
    border-right: none;

    font-family: "MotivaSans", Roboto, sans-serif;
}

.conmou-pattern {
    display: block;
    position: absolute;

    top: 0;
    width: 100%;
    height: 100%;
    background-color: transparent;
    background-image: url("../../FILES/IMG/PATTERN/unity_logo_pattern.png");
    background-repeat: repeat;
    background-position: center;
    background-size: 134px;

    filter: opacity(0.6);
}

.conmou-packageparent {
    display: flex;
    flex-direction: row;
    overflow: visible;

}


/* Thumb */

.conmou-thumb-box {
    display: flex;
    flex-direction: column;
    width: 11em;
    margin: 0;

    border-radius: 0.65em;
    overflow: hidden;
    border: 1px transparent solid;
    background-color: var(--c_Text_Light);
    line-height: 1.25em;
    
    box-shadow: 0 2px 2px 0 rgba(60, 64, 67, .3), 0 1px 3px 1px rgba(60, 64, 67, .15);
    transition: transform 0.1s ease-in-out;

    z-index: 1;
}
.conmou-thumb-box:hover {
    transform: scale(1.05);;
}


.conmou-thumb-click {
    display: flex;
}

.conmou-thumb {
    aspect-ratio: 3 / 2;
    width: 100%;
}

.conmou-text-box {
    display: flex;
    flex-direction: column;
    gap: 0.25em;
    padding: 0.5em 0.7em;
    margin: 0;
}

.conmou-title {
    display: flex;
    text-decoration: none;
    color: var(--c_Text_Dark);
    font-weight: 300;
    font-size: 0.95em;
    white-space: wrap;
}
.conmou-title:hover {
    color: var(--c_Link_Hover);
}

.conmou-price {
    font-weight: 600;
}


/* Info */

.conmou-info-box {
    display: flex;
    flex-direction: column;
    padding: 1em;
    gap: 0.4em;

    max-width: 22em;
    margin: auto 0;

    height: fit-content;
    background-color: var(--c_Text_Light);

    border-radius: 0.5em;
    box-shadow: 0 2px 2px 0 rgba(60, 64, 67, .3), 0 1px 3px 1px rgba(60, 64, 67, .15);

    z-index: 1;
}


.conmou-info-title {
    font-size: 1.6em;
    font-weight: 900;
}

.conmou-info-sub {
    font-size: 1em;
    font-weight: 100;
}










/* Smartphones (landscape) ----------- */
@media screen and (max-width: 821px) {
    
    .conmou-row {
        gap: 1.25em;
    }

    .conmou-packageparent {
        gap: 1.25em;
        margin: auto;
    }


    .conmou-info-box {
        margin: 0 auto;
    }

}






























