.showcase-grid {
    background-color: #808080;
    width: 56%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    text-align: center;
    grid-auto-flow: row; /* when something has to be added, be it a row */
    grid-template-areas:
        'spacevoyage spacevoyage spacevoyage spacevoyage'
        'doyoubelieve doyoubelieve doyoubelieve nutbutton'
        'crabzoo crabdefence crabdefence crabdefence'
        'jumpingbacteria jumpingbacteria jumpingbacteria jumpingbacteria';
    gap: 0px;
    justify-items: stretch;
}

/* this was the only way to set the correct height while maintaining quadratic building blocks dynamically */
.quadgrid {
    padding-bottom: 25%;
}
.triplegrid {
    padding-bottom: 33.33%;
}
.doublegrid {
    padding-bottom: 50%;
}
.singlegrid {
    padding-bottom: 100%;
}

.showcase-rectangle {
    width: 100%;
    height: 0;
    margin: 0 auto;
    background-position: 50% 50%;
    background-size: cover;
    table-layout: fixed;
    position: relative;
    transition: all .4s ease-in-out;
}

.showcase-title {
    font-size: 4vw;
    word-break: break-word;
    width: 100%;
    vertical-align: middle;
    text-align: center;
    text-decoration: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -webkit-text-stroke-width: 0.1vw;
    -webkit-text-stroke-color: black;
}

.showcase-rectangle:hover {
    transition: all .4s ease-in-out;
    -ms-transform: scale(1.03); /* IE 9 */
    -webkit-transform: scale(1.03); /* Safari 3-8 */
    transform: scale(1.03);
    border-radius: 10px;
    z-index: 10;
}
