
.indieads-showcase {

}


.ad-plot {
    transition: 0.2s ease-in-out;
    border-radius: 0.2em;
    overflow: hidden;
    outline: 2px solid white;
    box-shadow: 0 0.4em 0.4em 0em rgba(0, 0, 0, 0.219);
}
.ad-plot:hover {
    transform: scale(1.1);
}

.indiead-img {
    width: 100%;
    display: block;
}



.indiead-medium {
    width: 10em;
}



.indieads-floater {
    width: fit-content;
    right: 0 !important;
    top: 8em !important;
}



.indieads-comment {
    position: relative;
/*
    bottom: 0;
    left: 0;
    right: 0;*/
    
    height: auto;
    width: auto;

    font-size: 0.9em;

    border-radius: inherit;
}


.indieads-scrollparent {
    display: block;
    position: relative;

    width: 100%;
    height: 80%;
    
    margin: 0;
    padding: 0;

}

.indiead-display {
    display: block;
    position: absolute;

    overflow: hidden;
    outline: 2px solid var(--c_Text_Light);
    box-shadow: 0 0.4em 0.4em 0em rgba(0, 0, 0, 0.219);
    border-radius: 0.2em;
}

.indieads-display-600 {
    width: 10em;
    left: 0.5em;
    top: 50%;
    z-index: 0;

    transform: translate(0, -50%);
}

.indieads-display-616 {
    width: 18em;
    right: 0.5em;
    top: 50%;
    z-index: 0;

    transform: translate(0, -50%);
}

.indieads-display-460 {
    width: 12em;
    left: 3em;
    bottom: 1em;
    z-index: 1;

}
.indieads-display-231 {
    width: 10em;

    right: 1em;
    bottom: 1em;
    z-index: 2;
}
.indieads-display-350 {
    width: 11em;

    top: 1.5em;
    left: 50%;
    z-index: 3;

    transform: translate(-50%, 0);
}


.indieads-logobox {
    display: flex;
    position: absolute;
    z-index: 99;

    background-color: var(--c_Light);
    border-radius: 5em;
    padding: 0.5em 2em;

    gap: 1em;
    font-size: 0.55em;  

    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    outline: 3px solid var(--c_Text_Light);
    filter: drop-shadow(0 0 0.4em var(--c_Text_Dark));
}

.indieads-title {
    display: block;
    position: relative;

    color: var(--c_Dark);

    font-size: 3.5em;
    font-family: Lexend, Roboto, sans-serif;
    font-weight: 500;
}






