


.indieads {
    width: auto;
    height: auto;
    user-select: none;
}

.ad-plot {
    transition: 0.2s ease-in-out;
    border-radius: 0.2em;
    overflow: hidden;
    margin: 0 .5em;
    outline: 2px solid white;
    box-shadow: 0 0.4em 0.4em 0em rgba(0, 0, 0, 0.219);
}
.ad-plot:hover {
    transform: scale(1.1);
}

.indiead-img {
    width: 100%;
    display: block;
}

.indieads-scrollparent {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);

    margin: 0;

    padding: 2em;
    border-radius: 0.5em;
}


.indiead-medium {
    width: 10em;
}


.indieads-background {
    background: rgb(22, 22, 22);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url(img/wall_of_ads.jpg);
    filter: blur(0.4em) saturate(0.8);
}


.indieads-floater {
    flex-direction: column;
    width: fit-content;
    gap: 1em;
    right: 20vw !important;
}

.indieads-logobox {
    background-color: #ffffff46;
    border-radius: 1em;
    padding: 0 1em;

    gap: 1em;
    font-size: 0.75em;  
}
.indieads-title {
    font-size: 0.75em;  
}





/* Smartphones (landscape) ----------- */
@media screen and (max-width: 821px) {
    /* Styles */

    .indieads-floater {
        gap: 1em;
        /*padding-top: 4em;*/
    }

    
    .indieads-logobox {
        font-size: 0.65em;  
    }
}
