


.indieads {
    width: auto;
    height: auto;
    user-select: none;
}

.ad-plot {
    transition: 0.2s ease-in-out;
    border-radius: 0.2em;
    overflow: hidden;
    margin: 0 0.2em;
    outline: 2px solid white;
}
.ad-plot:hover {
    transform: scale(1.1);
}

.indiead-img {
    width: 100%;
    display: block;
}


.indiead-medium {
    width: 10em;
}


.indieads-background {
    background: rgb(235,235,235);
    background: linear-gradient(0deg, rgb(121, 155, 130) 0%, rgb(228, 218, 204) 15%, rgba(255,255,255,1) 30%, rgba(255,255,255,1) 70%, rgb(204, 217, 224) 85%, rgb(117, 126, 146) 100%);
}

.indieads-floater {
    padding: 1em 2em;
    background-color: #FFFFFF99;
    border-radius: 1em;
}


