#sso-msg {
    left: 50%;
    width: 50%;

    border-radius: inherit;
    padding: 2rem 0 3rem 0;

    background-color: #0f0f0fee;
    color: inherit;
}

#sso-container {
    color: white;


    background-size: contain;
    max-width: 40%;
    padding-bottom: 340px;
}