





.pygamexa1 {
    position: relative;
    height: 2.5em;
    margin: 0 auto;
    bottom: -1em;
}

.pygame-title {
    position: relative;
    margin: 0 auto;
    height: 5em !important;
    width: 22em !important;
    filter: drop-shadow(-1px 1px 1px var(--c_Dark));
}


.pygameengine-floatparent {
    font-size: 0.9em;
    flex-direction: column !important;
    margin-bottom: 1.5em;
}

.pygame-banner {
    height: 22em;
    width: 22em;
}



