#top-page-jumpingbacteria {
    background-image: url("../images/jumpingbacteria/bckgrnd03.png");
    object-fit: none;
}

/*on mobile*/
@media (max-width: 767px) {
    .text-bubblegum {
        font-family: BubblegumSans;
        color: #83fe5b;
        font-size: 3rem;
        text-align: center;
        margin: 0;
        padding-top: 64px;
        letter-spacing: 0.6rem;
    }
}

/*on desktop*/
@media (min-width: 767px) {
    .text-bubblegum {
        font-family: BubblegumSans;
        color: #83fe5b;
        font-size: 6rem;
        text-align: center;
        margin: 0;
        padding-top: 64px;
        letter-spacing: 0.6rem;
    }
}