

#sv-msg {
    width: 65%;

    left: 65%;
}

#sv-container {
    background-color: #ffffff15;
    color: white;
    /*border: white 1px solid;*/

    padding-bottom: 270px;
}

#sv-thumbnail {
    
    top: 50%;
    transform: translateY(-50%);
    height: 110%;
    left: 6%;
    
    width: 26%;
    
    border-width: 1px;
    border-color: inherit;
    border-style: solid;
    
}