





.gamesfun-title {
    height: 8em;
    width: 34em;
    margin: auto 3em;
    object-fit: contain;
}


.gamesfun-game
{
    height: 6em;
    margin: auto 2em;
    border-radius: 0.5em;
    outline: 0.25em solid white;
}
































