





.gamesfun-title {
    position: relative;
    height: 8em;
    margin: auto 1em;
    width: 34em;
    object-fit: contain;
}


.gamesfun-game
{
    margin: 0;
    height: 6em;
    border-radius: 0.5em;
    outline: 0.25em solid var(--c_Text_Light);
    filter: drop-shadow(-0.1em 0.25em 0.3em var(--c_Dark));

    transition: transform .1s ease-in-out;
}
.gamesfun-game:hover {
    transform: scale(1.025);
}


.gamesfun-scroll {
    position: relative;

    cursor: pointer;
}



.gamesfun-title {
    margin: auto auto;
}
.gamesfun-scroll {
    width: fit-content;
    display: grid;
    margin: auto;


    grid-auto-flow: row;
    gap: 1em;

    grid-template-rows: auto auto;

    grid-template-columns: auto auto;


}
.gamesfun-align {
    font-size: 0.6em;
    flex-direction: column !important;
    gap: 0;
    margin: auto 0;
    /* The title font is misaligned and this makes up for it */
    padding-bottom: 2em;
}






























