
.jsproj-showcase {
    /**/
    display: flex;
    flex-direction: column;
}

.jsproj-title {
    font-family: Lexend, Roboto, sans-serif;
    font-size: 2em;
    font-weight: 600;
    margin: auto !important;
    padding: 1em 1.7em;
    border-radius: 0.4em;
    background-color: var(--c_Light_Hover);
    margin-bottom: 1em !important;
}


.jsproj-grid {
    display: grid;
    position: relative;
    margin: auto;
    width: fit-content;




    grid-auto-flow: column;
    gap: 1em;

    grid-template-rows: auto auto;

    grid-template-columns: 50% 50%;

}

.jsproj-grid-item {
    width: 28em;
    height: 24em;

    border-radius: 1em;

    margin: auto;

    overflow: hidden;
    flex-direction: column !important;
}



/* Smartphones (landscape) ----------- */
@media screen and (max-width: 821px) {
    .jsproj-grid {
        grid-template-columns: 100%;
        grid-auto-flow: row;
    }

}






























