





.stb-background {
    background: rgb(255, 255, 255);
    background: linear-gradient(68deg, rgb(21, 21, 26) 12%, rgb(21, 21, 26) 94%);
    
    background-image: url("./img/1.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}




















