





.stb-background {
    background: rgb(96,116,150);
    background: linear-gradient(61deg, rgb(104, 126, 163) 12%, rgb(128, 124, 175) 94%);
}



.stb-block {
    height: 15em;
    margin: auto 0.5em;
}

























