





.stb-background {
    background: rgb(96,116,150);
    background: linear-gradient(61deg, rgba(96,116,150,1) 12%, rgba(116,112,156,1) 94%);
}



.stb-block {
    height: 15em;
    margin: auto 0.5em;
}

























