





.stb-background {
    background: rgb(255, 255, 255);
    background: linear-gradient(68deg, rgb(21, 21, 26) 12%, rgb(21, 21, 26) 94%);
}



.stb-block {
    height: 15em;
    margin: auto 0.5em;
}

























