#a1games-msg {
    left: 50%;
    width: 56%;

    border-radius: inherit;
    padding: 2rem 0 3rem 0;
    
    background-color: #0f0f0fee;
    color: inherit;
}

#a1gamesfun-container {
    color: white;
}



/*on mobile*/
@media (max-width: 700px) {
    #a1games-msg {
        width: 70%;
        font-size: 2.5vw;
    }
    
}
